


html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Alegreya Sans SC';
	margin: 45px 180px 0px 180px;
}

h1{
	display: inline-block;
	color: #FFF;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: 1.5px;
	margin-top: 12.5px;
}

#nav
{
	float: right;
	display: inline-block;
	margin-top:15px;
}

#nav ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#nav ul a
{
	display:block;
	color:#FFF;
	text-decoration:none;
	font-weight:500;
	font-size:20px;
	line-height:32px;
}

#nav ul li
{
	position:relative;
	float:left;
	margin:0px 15px;
	padding:0
}

#nav ul li a:hover {
  color: white;
}


#nav ul li a:hover, a:focus, a:active {
    color: #FFF;
    text-decoration: none;
}
#nav ul li a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
#nav ul li a {
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
}
#nav ul li a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #FFF;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
#nav ul li a:active::before {
    background-color: #FFF;
}
#nav ul li a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}


p {
	color: #FFF;
	font-size: 18px;
}

section p {
	padding-left: 20px;
	color: #000;
}

ul.liste {
	opacity: 0.6;
	list-style: none;
	color: #000;
	font-weight: 600;
	margin: 20px 15px;
	background-color: #FFF;
	border-radius: 5px;
	padding: 15px 20px;
}

section.icerik{
	margin-top: 15px;
	padding: 15px;
	background-color: #FFF;
	border-radius: 5px;
}

h2.sayfa-basligi {
  color: #000;
  text-align: center;
  position: relative;
  line-height: 2;
}
h2.sayfa-basligi::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  background-color: #dfdfdf;
}
h2.sayfa-basligi::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 2px;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: #12CFE9;
  transition: all 0.3s ease 0s;
}
h2.sayfa-basligi:hover::after {
  width: 30%;
}


.mySlides {
	border-radius: 2px;
	background-color: #FFF;
	padding: 5px;
}

.left {position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.right {position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}